body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer,.nav,.header {
    background: #1f2937;
}

.footer,.nav,.header,.cta {
    color: #F9FAF8;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* START: HERO SECTION */

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

.hero a {
    text-decoration: none;
    color: #F9FAF8;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.nav ul {
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px;
}

.header button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding: 5px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 150px;
}

.header button:hover {
    color: #3882F6;
    background-color: #E5E7EB;
    border: 2px solid #E5E7EB;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary-text,a {
    font-size: 18px;
    color: #E5E7EB
}

.rectangle {
    width: 700px;
    height: 300px;
    background: #e5e7eb8a;
    border-radius: 50px;
    margin-left: 20px;
}

/* END: HERO SECTION */


/* START: INFORMATION SECTION */

.information-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: -40px;
}

.info {
    display: flex;
    justify-content: center;
    column-gap: 90px;
    text-align: center;
    flex-wrap: wrap;
    padding: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0;
}

.box {
    border: 3px solid #3882F6;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    margin: 20px 0;
}

.break {
    flex-basis: 100%;
    height: 0;
  }

/* END: INFORMATION SECTION */


/* START: QUOTE SECTION */

.quote {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    padding: 150px;
    max-width: 400px;
    padding-top: 75px;
    margin: 0;
}

.quote-author {
    align-self: flex-end;
    font-weight: bolder;
}

/* END: QUOTE SECTION */

/* START: CTA SECTION */

.cta button {
    color: #F9FAF8;
    background-color: transparent;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    padding: 5px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 150px;
}

.cta button:hover {
    color: #3882F6;
    background-color: #E5E7EB;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cta {
    background: #3882F6;
    padding: 25px 100px;
    width: 480px;
    border-radius: 35px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    margin: 75px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-header {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.cta-text {
    margin-top: 10px;
}

/* END: CTA SECTION */


/* START: FOOTER SECTION */

.footer {
    display: flex;
    justify-content: center;
    font-weight: lighter;
}

/* END FOOTER SECTION */




/* Colors and stuff 

* {
    font-family: Roboto;
}

Dark background color (hero and footer):
    background: #1f2937;

Hero Main text ("this website is awesome")
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;

Hero secondary text:
    font-size: 18px;
    color: #E5E7EB

Header Logo text
    font-size: 24px;
    color: #F9FAF8;

Call to action background color
    background: #3882F6;

Information Header text
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;

Quote section background
    background: #E5E7EB;
    
Quote text
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
*/

